.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #102760;
  border-radius: 2rem;
  width: 100%;
}

.card-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.check {
  background-color: #77777766;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
}

.tech-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tech-item {
  @include flex-item-styles;
  background-color: #e0d8d0;
  padding: 0.4rem 0.6rem;
}

.yellow-btn {
  @include primary-button-styles;
  background-color: $transparent-yellow;
  border: 2px solid #bc9238;
  transition: 0.1s ease;
  width: 100%;
  &:hover {
    background-color: #efb62f66;
  }
}

@media (min-width: 850px) {
  .card {
    flex-direction: row;
  }
}