.certificates-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.certificate-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #c2c3c3;
  border-radius: 2rem;
}

.logo-icon {
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-white;
}

.school-info {
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem;
  border-radius: 2rem;
  background-color: $soft-dark;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  background-color: #d9d8d744;
  border: 1px solid $soft-dark;
}