$highlight-color: #f2ae07;
$hover-highlight: #f7ce65;
$transparent-yellow: #efb62f33;
$light-white: #effafa;
$light-gray: #a1b9b9;
$soft-dark: #110f0f;
$secondary-dark: #221e1e;

@mixin primary-button-styles {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.4rem;
  transition: 0.1s ease;
}

@mixin flex-item-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 2rem;
}