* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.3px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(92, 92, 92, 0.7);
  border-radius: 10px;
}

body {
  background-color: #100f10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  object-fit: cover;
}

h1, h2 {
  line-height: 2.3rem;
}

h3, h4, h5, h6 {
  line-height: 1.5rem;
}

button {
  border: none;
  outline: none;
  transition: 0.1s ease;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 1124px;
  padding: 1rem;
  margin-top: 72px;
}

.default-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.title {
  color: $highlight-color;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1px;
}

.pre-title {
  color: #daccda;
}

.pre-title-dark {
  font-size: 18px;
  color: $soft-dark;
}

.pre-title-dark {
  color: $soft-dark;
}

.mid-title {
  color: $light-white;
  font-size: 28px;
}

.weight-light-text {
  color: $soft-dark;
  font-size: 15px;
  font-weight: 600;
}

.light-text {
  color: $light-white;
  font-size: 13px;
  font-weight: 500;
}

.gray-text {
  color: $light-gray;
  font-size: 13px;
  font-weight: 500;
}

.dark-text {
  color: $soft-dark;
  font-size: 14px;
  font-weight: 500;
}

.dark-text-bolder {
  color: $soft-dark;
  font-size: 14px;
  font-weight: 600;
}

.album-image {
  width: 100%;
  max-height: 401px;
  border-radius: 1.5rem;
}

.tiny-icon-image {
  width: 21px;
  height: 21px;
  border-radius: 0.25rem;
}

.mid-icon-image {
  width: 28px;
  height: 28px;
  border-radius: 0.25rem;
}

.big-icon-image {
  width: 42px;
  height: 42px;
  border-radius: 0.25rem;
}

.big-circle-icon-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.flex-content {
  display: flex;
}

.flex-wrap-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.column-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
} 

.primary-btn {
  @include primary-button-styles;
  background-color: #66666644;
  border: 2px solid #9ab0d4;
  &:hover {
    background-color: #88888866;
  }
}
