.calendar {
  background-color: #fcf1c7;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
}

.role {
  gap: 0.25rem;
  align-items: center;
}

.place {
  gap: 0.25rem;
  align-items: center;
}